/* Style pour les lignes */
#content a {
    width: 40%;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

/* Effectuer un léger survol des lignes */
#content a:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Style pour les titres de la page */
#content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Optionnel : ajouter une bordure à la page pour une meilleure lisibilité */

